* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main {
    flex: 1; 
    display: flex;
}

/* LEFT SIDE */
.left {
    width: 60%;
    padding: 50px 80px;
    position: relative;
}

.ig-logo {
    width: 80px;
    margin-bottom: 40px;
}

.left h1 {
    font-family: Instagram Sans Regular !important;
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.35;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.orange {
    color: #ff7a18;
}

.pink {
    color: #ff2fb3;
}

/* STORY COLLAGE */
.stories {
    margin-top: 20px;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story.single {
    width: 650px;
    height: auto;
    border-radius: 24px;
}

.story {
    position: absolute;
    width: 260px;
    height: 420px;
    border-radius: 22px;
    object-fit: cover;
}

.story.back {
    left: 0;
    transform: rotate(-8deg);
    opacity: 0.9;
}

.story.middle {
    left: 120px;
    transform: rotate(2deg);
    z-index: 2;
}

.story.front {
    left: 240px;
    transform: rotate(10deg);
    z-index: 3;
}

/* RIGHT SIDE */
.right {
    width: 40%;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2 {
    margin-bottom: 25px;
    font-weight: 500;
}

.input {
    border-radius: 15px;
    padding: 14px 20px;
    color: #fff;
    margin-bottom: 15px;
    outline: none;
    transition: 0.2s ease;
    border-color: #ebf0f1;
    border-width: 0.09em;
}

.input:focus {
    border-color: #96b9d9;
    
}

.input::placeholder {
    color: #8fa3ad;
}

.btn {
    background: #4678b1;
    border: none;
    border-radius: 25px;
    padding: 14px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #73aae8;
}

.link {
    margin: 18px 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.fb-btn {
    background: transparent;
    border: 1px solid #aec1cb;
    padding: 14px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.create {
    margin-top: 15px;
    border: 1px solid #1b6cff;
    color: #1b6cff;
    background: transparent;
    padding: 14px;
    border-radius: 25px;
    cursor: pointer;
}

.meta {
    margin-top: 40px;
    text-align: center;
    opacity: 0.7;
}

.footer {
    width: 100%;
    font-size: 12px;
    padding: 20px 60px;
    text-align: center;
    margin-top: 0px;
    border-top: 1px solid #becfd8;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 3px;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-links a {
    color: #586064;
    text-decoration: none;
    margin: 0 8px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 20px;
    opacity: 0.8;
}